@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Roboto:wght@400;500;700&display=swap');

:root{
    --bg:#111010;
    --bgs:#292828;
    --bgw:#fff;
    --bgp:#0C8BFD;
    --tc:#898888;

    --ffp:'Poppins',
        sans-serif;
    --ffs:'Roboto',
        sans-serif;
    

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--bgw);
    opacity: 80%;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bgp);
    border-radius: 1rem;
}

*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
}

body{
    font-family: var(--ffs);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    outline: none;
    background-color: transparent;
    border: none;
}

p{
    line-height: 1.7;
    color: var(--tc);
    font-size: 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* util  */
.max-width{
    max-width: 1200px;
    margin-inline: auto;
}

/* header  */

header{
    background-color: var(--bg);
    padding: 1rem 2rem;
    color: var(--bgw);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 110px;
}

.header .navbar .navlinks{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .navbar .navlinks li a {
    font-size: 0.9375rem;
    color: var(--tc);
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
}

.header .navbar .navlinks li a:hover{
    color: var(--bgp);
    border-bottom: 2px solid var(--bgp);
}

.btn{
    border-radius: 4rem;
    color: var(--bgw);
    padding: 0.7rem 2rem;
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn:hover{
    opacity: 90%;
}

.btn-primary{
    background-color: var(--bgp);
    border: 2px solid var(--bgp);
}

.btn-secondary{
    background-color: transparent;
    border: 2px solid var(--bgw);
}

.btn-secondary:hover{
    background-color: var(--bgw);
    color: var(--bg);
}

.hero{
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    color: var(--bgw);
    padding: 0 1rem;
    padding-bottom: 3rem;
}

.hero .container{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 74px);
}

.hero .container .text{
    width: 45%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.hero .container .text h1{
    font-size: 4rem;
}

.hero .container .text h1 span{
    color: var(--bgp);
}

.hero .container .text p{
    display: inline-block;
    max-width: 400px;
}

.hero .container .img{
    width: 45%;
}

.hero .container .btn-groups{
    display: flex;
    gap: 1rem;
}

.company-logo{
    background-color: var(--bgs);
    padding: 1.2rem 1rem;
}

.company-logo .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.company-logo .container img{
    width: 160px;
}

.heading{
    margin-top: 6rem;
    color: var(--bg);
    text-align: center;
}

.heading h1{
    font-size: 3rem;
    font-weight: 600;
}

.heading p{
    margin-top: 1rem;
    max-width: 400px;
    margin-inline: auto;
}

.service .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 7rem;
    padding: 0 1rem;
}

.service .container .items{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    border: 2px solid var(--tc);
    border-radius: 2rem;
    padding: 4rem 1rem;
    max-width: 500px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.service .container .items:hover{
    background-color: var(--bg);
    color: var(--bgw);
}

.service .container .items:nth-child(2){
    background-color: var(--bg);
    color: var(--bgw);
    translate: 0 -60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid var(--bg);
}

.service .container .items img{
    width: 100px;
    align-self: center;
    object-fit: contain;
}

.service .container .items h1{
    font-size: 1.5rem;
}

.features{
    padding: 1rem;
}

.features .heading{
    text-align: left;
    max-width: 900px;

}

.features .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    gap: 3rem;
}

.features .container .list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.features .container .list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6rem;
    font-weight: 500;
    cursor: pointer;
}
.features .container .list img{
    width: 40px;
    object-fit: contain;
}

.features .container .list-1 li{
    padding: 2rem 1rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    border: 2px solid var(--tc);
    transition: all 0.4s ease-in-out;
}

.features .container .list-1 li:hover{
    scale: 1.01;
}

.features .container .list-1 li:first-child{
    background-color: var(--bgp);
    color: var(--bgw);
    border: 2px solid var(--bgp);
}

.features .container .list-2{
    background-color: var(--bg);
    color: var(--bgw);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.features .container .list-2 li{
    background-color: var(--bgs);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.features .container .list-2 li span{
    margin-left: 1rem;
}

.features .container .list-2 li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
    width: 20px;
    aspect-ratio: 1;
    background-color: var(--bgw);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.features .container .list-2 li:hover{
    background-color: var(--bgw);
    color: var(--bg);
}

.features .container .list-2 li:hover::before{
    background-color: var(--bgs);
}

.price{
    margin-top: 4rem;
    background-color: var(--bg);
    color: var(--bgw) !important;
    padding-top: 0.5rem;
    padding-bottom: 8rem;
}


.price .heading h1{
    width: 100%;
    color: var(--bgw);
    font-weight: 500;
    position: relative;
    display: inline-block;
    line-height: 1.5;
}

.price .heading h1::before{
    content: url(../images/Icons/arrow-left.svg);
    position: absolute;
    top: 20%;
    left: 5%;
}

.price .heading h1::after{
    content: url(../images/Icons/arrow-right.svg);
    position: absolute;
    top: 20%;
    right: 5%;
}

.price .container{
    margin-top: 6rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.price .container .item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bgw);
    border-radius: 1rem;
    color: var(--bg) !important;
    padding: 1.5rem 1rem;
    max-width: 500px;
}

.price .container .item-2{
    background-color: var(--bgp);
    color: var(--bgw) !important;
}

.price .container .item-2 p{
    color: var(--bgw) !important;
}
.price .container .item-2 h1 span{
    color: var(--bgw) !important;
    opacity: 80%;
}

.price .container .item-2 .btn{
    background-color: var(--bgw);
    color: var(--bgp);
}

.price .container .item-2 .line{
    background-color: var(--bgw) !important;
    opacity: 90%;
}

.price .container .item ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 1rem;
    
}
.price .container .item ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.price .container .item ul li img{
    width: 1.5rem;
}

.price .container .item h1{
    font-size: 3rem;
}

.price .container .item .line{
    background-color: var(--tc);
    width: 100%;
    height: 1px;
    border-radius: 2rem;
    opacity: 80%;
}

.price .container .item .btn{
    border: 2px solid var(--bgp);
}

.price .container .item .btn:hover{
    background-color: var(--bgw);
    color: var(--bgp);
}

.price .container .item h2{
    font-size: 1.8rem;
    font-weight: 800;
}

.price .container .item h1 span{
    font-size: 2rem;
    color: var(--tc);
}

.price .container .item p{
    color: var(--bg);
    font-weight: 500;
}


.feedback{
    padding: 1rem;
}

.feedback .heading{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    /* padding-inline: 1rem; */
}

.feedback .heading h1{
    flex-basis: 70%;
}

.feedback .heading p{
    max-width: 400px;
}

.feedback .container{
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    /* padding-inline: 1rem; */
    margin-top: 4rem;
    gap: 4rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 4rem;
    /* margin-left: 1rem; */
}

.feedback .container .items{
    min-width: 500px;
    border: 2px solid var(--tc);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.feedback .container .items p{
    color: var(--bg);
    font-weight: 500;
}


.feedback .container .items:hover{
    background-color: var(--bg);
    color: var(--bgw) !important;
}

.feedback .container .items:hover p{
    color: var(--bgw);
}

.feedback .container .items .name{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.feedback .container .items .name span{
    color: var(--bgs);
    font-size: 0.8rem;
}

.feedback .container .items .name h3{
    font-size: 1rem;
    font-weight: 700;
}

.feedback .container .items .quote img{
    width: 40px;
}

.feedback .container .items .star{
    display: flex;
    gap: 0.5rem;
}

.feedback .container .items .star img{
    width: 30px;
}

.contact{
    margin-top: 4rem;
    background-color: var(--bg);
    color: var(--bgw) !important;
    padding-top: 1rem;
}

.contact .container .heading{
    color: var(--bgw);
    max-width: 900px;
    margin-inline: auto;
    line-height: 1.5;
}

.contact .container{
    padding: 1rem;
    padding-bottom: 2rem;
}

.contact .container form{
    margin-top: 3rem;
    width: 100%;
    background-color: var(--bgs);
    padding:2rem 2rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 1rem;
}

.contact .container form input{
    width: 100%;
    background-color: var(--bg);
    color: var(--bgw);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.contact .container form button{
    white-space: nowrap;
}

footer{
    background-color: var(--bg);
    padding: 1rem;
}

footer .line{
    margin-top: 2rem;
    width: 100%;
    height: 1px;
    background-color: var(--tc);
    border-radius: 2rem;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    color: var(--bgw);
    padding-block: 4rem;
    padding-inline: 4rem;
}

footer .container .list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--tc);
}

footer .container .list h1{
    font-size: 1.2rem;

}

footer .logo{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-inline: auto;
    display: inline-block;
}

@media (max-width:1024px) {
    .header .navbar{
        display: none;
    }

    .hero{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }


    .hero .container{
        flex-direction: column;
        justify-content: center;
        row-gap: 3rem;
    }

    .hero .container .text{
        width: 100%;
        text-align: center;
    }

    .hero .container .text p{
        margin-inline: auto;
    }

    .hero .container .btn-groups{
        justify-content: center;
        align-items: center;
    }

    .hero .container .img{
        width: 100%;
        max-width:500px;
    }

    .service .container{
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 3rem;
    }
    .service .container .items{
        padding-block: 6rem;
    }
    .service .container .items:nth-child(2){
        translate: 0 0;
    }

    .heading h1{
        padding-inline: 1rem;
    }

    .features .container {
        grid-template-columns: 1fr;
    }

    .price .container{
        grid-template-columns: 1fr 1fr;
    }

    .price .container .item-3{
        grid-column: span 2;
        place-self: center;
    }

    footer .container{
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        padding-inline: 2rem;
    }
}

@media (max-width:768px) {
    .hero .container .text h1{
        font-size: 3rem;
    }

    .price .container{
        margin-top: 8rem;
    }

    .price .heading h1::before{
        top: 60%;
    }
    .price .heading h1::after{
        top: 60%;
    }

    .feedback .heading{
        flex-direction: column;
        align-items: flex-start;
    }

    .feedback .heading p{
        max-width: 720px;
        padding-inline: 1rem;
    }

    .contact .container form{
        flex-direction: column;
    }

}

@media (max-width:610px) {
    .features .container .list-1 li{
        padding: 1rem;
    }

    .features .container .list-1 li span{
        font-size: 1rem;
    }
     .features .container .list-2 li span{
        font-size: 1rem;
     }

     .heading h1{
        font-size: 2rem;
     }
     .price .container{
        grid-template-columns: 1fr;
     }
     .price .container .item-3{
        grid-column: span 1;
     }
     .feedback{
        display: none;
     }

     footer .container{
        grid-template-columns: 1fr;
     }
}











